.card{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 20px;
    margin-bottom: 5px;
    height: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .cards {
    display: ruby;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
  }
  .img-as-bg {
    height: 300px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
  }
  