kyHIFY {
    z-index: 1;
    padding-left: 16px;
    padding-right: 12px;
    transition: all 100ms ease-in-out 0s;
    transform: translateX(0px);
}
jGPvlk {
    color: rgb(27, 166, 114);
}
button_style {
    border-color: white;
}